<div>
  <form action="/rooms/{{room.id}}/posts" method="post">
    <legend>New post in {{room.topic}} </legend>

    <div class="form-group">
      <label for="room-title">Subject</label>
      <input type="text" name="subject" class="form-control" id="post-subject">
    </div>

    <div class="form-group">
      <label for="room-title">Body</label>
      <input type="text" name="body" class="form-control" id="post-body">
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>